# API конфигурация для калькулятора
NUXT_API_DOMAIN=simprint
NUXT_API_KEY=81d3c7e1-3552-4012-8102-9e35657559c5

# Базовый URL API (можно изменить при необходимости)
NUXT_API_BASE_URL=https://api.simprint.ddns.net/v1/ 